/*--- Base css layout --*/
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

html {
  font-size: 10px; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 0;
  margin: auto;
  position: relative;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  height: 100%;
  max-width: 1920px;
  box-sizing: border-box; }
  body a {
    text-decoration: none;
    color: #af8655; }
  body h2 {
    font-size: 5rem; }

.header {
  width: 100%;
  padding: 3rem 4rem;
  position: relative;
  background-color: white; }
  .header_logo {
    color: #000;
    font-weight: bold; }
  .header_menu_list {
    display: inline-flex;
    font-size: 1.7rem; }
  .header_menu_list--item {
    position: relative;
    list-style: none;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75); }
    .header_menu_list--item:hover {
      color: rgba(0, 0, 0, 0.5); }
    .header_menu_list--item::after {
      content: "";
      position: absolute;
      bottom: -3rem;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #af8655;
      transform-origin: center;
      transition: ease all .2s;
      transform: scale(0); }
    .header_menu_list--item:hover:after {
      transform: scale(1); }
  .header_menu_list--item:not(:last-of-type) {
    margin-right: 5rem; }

.btn_primary {
  padding: 1.5rem 4rem;
  background-color: #ececec;
  border-radius: 5rem;
  margin: 3rem 0;
  display: inline-block;
  color: black;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  transition: .3s ease all; }
  .btn_primary:hover {
    transform: translateY(-5px); }

.row {
  margin: 0 auto;
  display: flex;
  background-color: #fff; }
  .row [class^="col-"]:not(:last-child) {
    margin-right: 0rem; }
  .row .col-1-of-2 {
    width: calc((100% - 0rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 0rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 0rem) / 3) + 0rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 0rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 0rem) / 4) + 0rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 0rem) / 4) + 2 * 0rem); }

.hero {
  position: relative;
  width: 100%;
  height: 100vh; }

.hero {
  height: 95vh;
  background-image: url("../img/jonathanrudman.png");
  background-size: cover;
  background-position: center;
  position: relative;
  clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0 95%); }
  .hero_content {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .hero_content--text {
      color: #ffffff;
      text-transform: uppercase;
      text-align: center; }

.hero_font--large {
  font-size: 3rem;
  font-weight: 300; }

.service {
  padding: 6rem; }
  .service_heading {
    margin: 1.5rem 0; }

.big_number {
  font-size: 5rem;
  font-weight: bold;
  color: #af8655; }

.splash {
  color: #000;
  background-color: #f5f6f7;
  text-align: center; }
  .splash_text {
    color: #000; }
  .splash img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50%; }

.f {
  display: flex; }

.f-c-c {
  align-items: center;
  justify-content: center; }

.f-d {
  flex-direction: column; }

.f-c-y {
  justify-content: center; }

.f-c-x {
  align-items: center; }

.f-stretch {
  justify-content: space-around; }

.f-b {
  justify-content: space-between; }

.u-full-width {
  width: 100%; }

.u-padding-large {
  padding: 7rem; }
