.footer
    background-color: $dark-grey
    margin: 0 auto
    color: white

    &_col--heading
        margin: 0 
        font-size: 1.1rem
        color: white
        font-weight: bold
        text-transform: uppercase
        opacity: .4

        +mobile 
            margin: 2rem 0

    &_col--text
        color: rgba(255, 255, 255, .75)

    &_social_media
        margin: 1.5rem 0
        display: inline-flex

        &--icon
            margin: 0 1rem
            color: white
            font-size: 2.5rem
