@keyframes fadein 
    from  
        opacity: 0 
        transform: translateY(2rem)
    30%  
        opacity: 0 
        transform: translateY(2rem)
    to
        opacity: 1
        transform: translateY(0)

@keyframes fadein--slow 
    from  
        opacity: 0 
        transform: translateY(2rem)
    40%  
        opacity: 0 
        transform: translateY(2rem)
    to
        opacity: 1
        transform: translateY(0)


