.hero
    height: 95vh
    background-image: url('../img/jonathanrudman.png')
    background-size: cover
    background-position: center
    position: relative

    &_content
        position: absolute
        display: block
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
    
        &--text
            color: #ffffff
            text-transform: uppercase
            text-align: center

.hero_font--large
    font-size: 3rem
    font-weight: 300

.service
    padding: 6rem

    &_heading
        margin: 1.5rem 0


.big_number
    font-size: 5rem
    font-weight: bold
    color: $primary-link-color

.splash
    color: $color-primary
    background-color: #f5f6f7
    text-align: center

    &_text
    
    img
        background-size: contain
        background-position: center
        background-repeat: no-repeat
        height: 50%


            

