.hero
    height: 80vh
    background-image: url('../img/jonathanrudman.png')
    background-size: cover
    background-position: center
    position: relative

    &_content
        position: absolute
        display: block
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
    
        &--text
            color: #ffffff
            text-transform: uppercase
            text-align: center

.hero_font--large
    font-size: 3rem
    font-weight: 300



            

